---
layout: home
---

<h3>Choose a TC quick start guide depending upon your version:</h3>
<ul id="startguide-tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#first" data-toggle="tab"><b class="sgtab">4.x Quick Start</b></a></li>
    <li><a href="#second" data-toggle="tab"><b class="sgtab">5.7/10.7 Quick Start</b></a></li>
    <li><a href="#third" data-toggle="tab"><b class="sgtab">5.5/10.5 (and earlier) Quick Start</b></a></li>
</ul>
<div id="startguide-tab-content" class="tab-content">
    <div class="tab-pane active" id="first">
        {% include tc4x_quickstart.html %}
    </div>
    <div class="tab-pane" id="second">
        {% include tc5x_quickstart.html %}
    </div>
    <div class="tab-pane" id="third">
        {% include tc5x_quickstart.html %}
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#startguide-tabs').tab();
    });
</script>
