<p>The Terracotta Server provides powerful distributed in-memory data management capabilities for Terracotta products (such as <a href="https://www.ehcache.org">Ehcache</a>) and is the backbone for Terracotta clusters.</p>

<p>A Terracotta Server Array can vary from a basic two-node tandem to a multi-node array (Terracotta Server Array (TSA)) providing configurable scale, high performance, and deep failover coverage.</p>

<p>Add distributed caching capabilities to your Ehcache deployment today!</p>

<p>Terracotta additionally offers various other open source projects and code libraries which may be of interest.</p>
