<h2>Some key features of the Terracotta Server include:</h2>

<ul>
  <li><em>Distributed In-memory Data Management</em> &ndash;  Manages 10-100x more data in memory than traditional data grids - use <i>all</i> of the RAM you wish.</li>
  <li><em>Scalability Without Complexity</em> &ndash;  Simple configuration to add server instances to meet growing demand and facilitate capacity planning</li>
  <li><em>High Availability</em> &ndash;  Instant failover for continuous uptime and services</li>
  <li><em>Configurable Health Monitoring</em> &ndash;  Terracotta HealthChecker for inter-node monitoring</li>
  <li><em>Automatic Node Reconnection</em> &ndash;  Temporarily disconnected server instances and clients rejoin the cluster without operator intervention</li>
</ul>

Advanced features such as fast-restart persistence, advanced management features and security are available in commercially supported versions from <a href="https://www.softwareag.com/">Software AG</a>.
