
      <h1>Getting Started</h1>

      Getting started with the Terracotta Server is a simple matter of downloading, changing a few configuration
      items, and starting it up.

      Because the server isn't very interesting without something using it, this guide will show you how to put
      the Terracotta Server to its most common use: clustering an Ehcache cache.

      <br/><br/>

      <h2>Download and Install</h2>

      Installing and using Terracotta Server is as easy as downloading the kit and ensuring that the correct files are on your application's classpath. The only platform requirement is using JDK 1.6 or higher.

      <br/><br/>

      <h3>1 - Download the Terracotta Server.</h3>

      The kit is packaged as a tar.gz file. <a href="/downloads">Download</a> it then unpack it on the command line or with the appropriate decompression application.

      <br/><br/>

      <h3>2 - Update Classpath</h3>

      Add the following JARs from within the kit to your application's classpath (if they are not already there):

      <ul>
          <li> `apis/ehcache/lib/ehcache-<version>.jar` &ndash; This file contains the Ehcache API.</li>

          <li> `apis/ehcache/lib/slf4j-api-<version>.jar` &ndash; This file is the bridge, or logging facade, to the BigMemory Max logging framework.</li>

          <li> `apis/toolkit/lib/terracotta-toolkit-runtime-<version>.jar` &ndash; This JAR contains the libraries that enable connecting Ehcache to the Terracotta Server.</li>
       </ul>

       <h3>3 - Configure Ehcache</h3>

       Configure Ehcache to utilize the Terracotta Server. Create an `ehcache.xml` configuration file, or modify your own existing Ehcache configuration, or update the one that is provided in the config-samples/ directory of the downloaded Terracotta Server kit. For example:

       <pre class="prettyprint highlight"><code class="language-xml" data-lang="xml">&lt;ehcache xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="http://ehcache.org/ehcache.xsd"
     name="myBigMemoryMaxConfig"&gt;

  &lt;cache name="myCache"
        maxBytesLocalHeap="512M"&gt;

    &lt;!-- Include the terracotta element so that the cache will be
    distributed and managed by the Terracotta server.  --&gt;
    &lt;terracotta/&gt;
  &lt;/cache&gt;

  &lt;!-- Specify where to find the server configuration. In this
  case, the configuration is retrieved from the local server. --&gt;
  &lt;terracottaConfig url="localhost:9510" /&gt;

&lt;/ehcache&gt;</code></pre>

      Ensure that your `ehcache.xml` file is in the top-level of your classpath.

      <br/><br/>

      <h2>Start The Terracotta Server</h2>

      You should be able to run the server for testing without a configuration change, but we will give you
      a pointer on where to find the configuration file before starting the server.

      <br/><br/>

      <h3>1 - Configure the Terracotta Server</h3>

       To configure the Terracotta server, create a `tc-config.xml` configuration file, or update the one that is provided in the `config-samples/` directory of the terracotta kit. For example:

       <pre class="prettyprint highlight"><code class="language-xml" data-lang="xml">&lt;?xml version="1.0" encoding="UTF-8" ?&gt;
&lt;tc:tc-config xmlns:tc="http://www.terracotta.org/config"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.terracotta.org/schema/terracotta-9.xsd"&gt;
  &lt;servers&gt;
    &lt;server host="localhost" name="My Server Name"&gt;
       &lt;!-- Specify the port clients will connect to the server on. --&gt;
       &lt;tsa-port&gt;9510&lt;/tsa-port&gt;
       &lt;!-- Configure memory (off-heap) space to use on the server. --&gt;
       &lt;dataStorage size=”4g”&gt;
       &lt;/dataStorage&gt;
    &lt;/server&gt;
  &lt;/servers&gt;
  &lt;clients&gt;
    &lt;logs&gt;logs-%i&lt;/logs&gt;
  &lt;/clients&gt;
&lt;/tc:tc-config&gt;</code></pre>

      	Place your `tc-config.xml` file in the Terracotta `server/` directory.

      <br/><br/>

      <h3>2 - Start the Terracotta Server</h3>

      In a terminal, change to your Terracotta `server/` directory. Then execute the start-tc-server command.

      For *nix systems:
      <pre>%&gt; cd /path/to/terracotta-&lt;version&gt;/server
%&gt; ./bin/start-tc-server.sh</pre>

      For Windows systems:
      <pre>&gt; cd \path\to\terracotta-&lt;version&gt;\server
&gt; .\bin\start-tc-server.bat</pre>

         You should see confirmation in the terminal that the server started.


      <br/><br/>

     <h2>Not quite ready yet?</h2>

     Read the <a href="/documentation">user documentation</a> for everything you've been wondering about the new API!
