<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

{% include banner.html %}

<div id="intro" class="jumbotron breaker">
    <div class="container">
        {% include about_intro.html %}
        <hr/>
        {% include home_announcement.html %}
    </div>
</div>

<div id="start" class="breaker">
    <div class="container">
        <h1>{{ page.title | replace: '!DOC_VERSION!', page.tc_version }}</h1>
        {{ content }}
    </div>
</div>

{% include footer.html %}

</body>

</html>
